@media (min-width: 320px) and (max-width: 576px) {
  #myheader-title {
    font-size: 4rem;
    position: absolute;
    left: 5rem;
    top: 5rem;
    transform: translate(30%, 60%); }
  .header-phrase {
    display: none;
    font-size: 1.8rem; }
  .header-text-bottom {
    position: absolute;
    height: 40%;
    width: 80%;
    bottom: 10%;
    left: 15%;
    font-size: 2.5rem; }
  .parallax-contact {
    height: 130vh; }
  .product-holder {
    padding-bottom: 6rem;
    padding-top: 5rem; }
  .address-holder {
    width: 30rem;
    margin-left: 10rem;
    margin-top: 7rem; }
  .myaddress {
    padding: 9.5rem 3rem 0 0; }
  .contact-us-holder {
    padding-top: 10rem; }
    .contact-us-holder div div.contact-img {
      margin-top: -7rem; }
  .contact-us {
    margin: 5rem 0 0 4rem; }
    .contact-us div form div.form-group label {
      font-size: 1.2rem;
      margin-bottom: -0.8rem; } }

@media (min-width: 576.5px) and (max-width: 768px) {
  .header-caption {
    font-size: 5rem;
    position: absolute;
    left: 25rem;
    top: 15rem;
    transform: translate(50%, -10%); }
  .header-phrase {
    font-size: 1.5rem; }
  .header-text-bottom {
    position: absolute;
    height: 40%;
    width: 50%;
    bottom: -10%;
    left: 25%;
    font-size: 1.9rem; }
  #about div div p {
    font-size: 1.8rem;
    margin: 0 5rem 0 5rem; }
  .parallax-contact {
    height: 120vh; }
  .contact-us-holder {
    display: block;
    padding-top: 10rem; }
    .contact-us-holder div div.contact-img {
      position: absolute;
      left: 15rem;
      transform: translate(200%, -145%); }
  .myaddress {
    padding: 9.5rem 3rem 0 0;
    margin: 0 0rem 0 -10rem; } }
